aside img{
    width: 8em;
    position: fixed;
    top: 85%;
    right: 5%;
    z-index: 3;
}
form{
    font-size: 1.5em;
    color: #595757;
    
}
input[type=text]{
    border: none;
}
input[type=checkbox]{
    position: absolute;
    width: 0;
}
label{
    width: 47%;
    position: relative;
    cursor: pointer;
}
form>div{
    margin:1em 0.5em;
    align-items: normal;
}
form span{
    color:red;
}
.w30{
    width: 30%;
    text-align: center;
    padding: 0.67em;
}
.w70{
    width: 70%;
}
.two-col input[type=text]{
    width: 47%;
}
.three-col input{
    width: 30.35%;
}
/* 複選樣式 */
.checkmark{
    width: 1.5em;
    height: 1.5em;
    border: 1px solid black;
    border-radius: 0.2em;
    background-color: #fff;
    box-shadow: 0 0 0.4em #80808033;
    float: right;
    position: relative;
}
.checkmark::after{
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    content: "";
    position: absolute;
    top: -40%;
    left: 50%;
    display: none;
    width: 0.8em;
    height: 1.67em;
    border: solid #44c8b7;
    border-width: 0 0.25em 0.25em 0;
    border-radius: 0.2em;
}
input:checked~.checkmark::after{
    display: block;
}
#adv input, #ins input, #SSc input, #oth input{
    width: 100%;
}
textarea{
    border:none;
    resize: none;
    width: 100%;
}
.EPL{
    margin-left: 0.67em;
    margin-bottom: 1em;
    font-size: 0.8em;
    font-weight: 600;
}
button.hint {
    border: none;
    margin-left:90% !important;
}
.ali-it-top.ali-it-top{
    align-items: normal;
}
.application .hint{
    margin: 2.33em 0 1.67em 7%;
    font-size: 1em;
}