@media(max-width:1200px){
    main.import-step{
        width: 95%;
    }
}
@media(max-width:350px){
    .step .detail{
        width: 95%;
        margin: 0 auto;
    }
    .step>div{
        margin: 1em 0;
        width: 100%;
    }
}
@media(max-width:235px){
    .step .tag {
        width: auto;
    }
}